div#page {
	padding: 200px 200px 0px 200px;
}

.button {
	background: #00cc11;
	border: 1px solid #00cc00;
	color: #FFFFFF;
	cursor: pointer;
	padding: 5px 10px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-size: 15px;
	border-radius: 5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#41d155),
		to(#22b535) );
	background: -moz-linear-gradient(center top, #41d155, #22b535);
	filter: progid :   DXImageTransform.Microsoft.gradient ( startColorstr =
		'#41d155', endColorstr = '#22b535' );
	-moz-box-shadow: 0 1px 0 #ffffff inset, 0 1px 0 #000;
	-webkit-box-shadow: 0 1px 0 #ffffff inset, 0 1px 0 #000;
	-o-box-shadow: 0 1px 0 #fff inset, 0 1px 0 #000;
	box-shadow: 0 1px 0 #ffffff inset, 0 1px 0 #000;
	text-shadow: -1px -1px 0px #204877;
}

.text {
	background-color: #fff;
	color: #888;
	border: 1px solid #333;
	cursor: text;
	padding: 7px 5px;
	width: 180px;
	ime-mode: disabled;
	margin: 0 0 5px;
}

div#logo {
	width: 850px;
	height: 200px;
}

div#content {
	width: 850px;
	height: 250px;
}

div#howwork {
	width: 600px;
	height: 200px;
	float: left;
}

div#login {
	width: 250px;
	height: 200px;
	float: right;
	text-align: left;
}